:root {
  --color-light-green: #d4fff3;
  --color-general-white: #ffffff;

  --color-btn-primary: #009966;

  --shadow-soft: 0px 10px 10px 0px #00000040;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    padding: 1rem 2.5rem;
    width: 100%;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

}

head .logo{
    display: flex;
    align-items: center;
    gap: 0.6;
    flex-shrink: 0;
}