/* Importerade fonter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Gemensamma färgvariabler  */
:root {
  --color-light-greenmintish: #d4fff3;
  --color-general-white: #ffffff;
  --color-general-blacktext: #000000;
  --color-btn-primary: #009966;
  --shadow-soft: 0px 10px 10px 0px #00000040;
  --color-dropdown-lightgreyish: #dbdbdb;
  --color-purple-braincolor: #9810fa;
}

/*-----------------------------------------------NAV--------------------------------------------------- */

/* ------------------------------ */
/* HEADER + CONTAINER            */
/* ------------------------------ */

header {
  width: 100%;
  background-color: var(--color-general-white);
  min-height: 6rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

/* ------------------------------ */
/* LOGO                          */
/* ------------------------------ */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
  width: auto;
  display: block;
}

/* ------------------------------ */
/* NAVIGATION                    */
/* ------------------------------ */

.nav-links {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
}

.book-button {
  background-color: var(--color-btn-primary);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  box-shadow: var(--shadow-soft);
  transition: 0.2s ease;
}
/* ------------------------------ */
/* HAMBURGER IKON (dold på desktop) */
/* ------------------------------ */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    display: none;
    text-align: center;
    z-index: 999;
  }

  .nav-links.show {
    display: flex;
  }
}

/*-----------------------------------------------NAV--------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-light-greenmintish);
  /* Gemensam font,storlek, text tjocklek, radavstånd */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-general-blacktext);
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

/* Hero rubrik och undertext */
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.hero-title {
  font-size: 80px;
  font-weight: 400;
  margin: 1rem;
}

.hero-subtitle {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
/* -------------------------Bokningsfiltrering----------------------- */
.booking-bar {
  border-radius: 25px;
  background-color: var(--color-general-white);
  text-align: left;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 0px 10px 10px 0px #00000040;
}

.booking-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 1.5fr;
  align-items: start;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 1rem 1rem;
  font-weight: 600;
  border-radius: 12px;
  border: 1px solid black;
  background-color: var(--color-general-white);
  outline: none;
  box-sizing: border-box;
}

.booking-form select {
  background-color: var(--color-dropdown-lightgreyish);
}

.booking-option {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.booking-option .label {
  font-weight: 600;
  padding: 0.5rem 0.25rem;
  font-size: 24px;
}

.booking-button {
  border-radius: 10px;
  padding: 0.75rem 5.25rem;
  margin-top: 3.25rem;
  font-weight: 600;
  font-size: 24px;
  width: fit-content;
  justify-self: center;
  gap: 10px;
  cursor: pointer;
  background-color: var(--color-btn-primary);
  color: white;
}

/*-----------------------Rooms Available texter-----------------------*/
.rooms-header h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 1rem 0 0 0;
}

.rooms-header p {
  font-size: 32px;
  font-weight: 400;
  margin: 0.5rem 0 2rem 0;
}

/*----------------------Produktkort för rummen--------------------------*/

.rooms-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 2.5rem;
  margin-bottom: 4rem;
}

.room-card {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  background-color: var(--color-general-white);
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

/*Bilder och kundbetyg*/

.room-image {
  position: relative;
  aspect-ratio: 4 / 3.5;
  overflow: hidden;
  margin: 0;
}

.room-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.rating-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-general-white);
  padding: 0.5rem 0.5rem;
  border-radius: 999px;
  font-size: 20px;
}

/*Innehåll i produktkorten*/

.room-content {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-self: start;
}

/*Rubrik och pris, rumspec*/

.room-header {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.price-period {
  font-size: 20px;
}

.room-title {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.room-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
  gap: 1rem;
  margin-top: 2rem;
}

.price-amount {
  font-size: 32px;
  color: var(--color-btn-primary);
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.room-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
}

.room-specs {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.room-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.room-specs li {
  display: flex;
  align-items: center;
}

.room-specs svg {
  margin-bottom: 0.5rem;
}

/* ---------------Lucide ikoner------------------------ */

.icon-leaf {
  width: 20px;
  height: 20px;
  color: var(--color-btn-primary);
}

.icon-brain {
  width: 20px;
  height: 20px;
  color: var(--color-purple-braincolor);
}

.icon-wifi {
  width: 20px;
  height: 20px;
  color: var(--color-general-blacktext);
}

.icon-users {
  width: 20px;
  height: 20px;
  color: var(--color-general-blacktext);
  flex-shrink: 0;
}

.icon-star {
  width: 20px;
  height: 20px;
  color: #ffcc00;
}

/* --------------------------------------------------- */

/*Features, AI Features samt Sustainability*/

.features,
.ai-features,
.sustainability {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.features-label,
.ai-features-label,
.sustainability-label {
  font-size: 20px;
  margin: 0.5rem;
  font-weight: 400;
}

.features-tags,
.ai-features-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem;
  margin-left: 0.5rem;
  padding: 0;
  gap: 1rem;
}

.feature-tag,
.ai-feature-tag {
  background-color: var(--color-dropdown-lightgreyish);
  color: black;
  padding: 0.4rem 0.75rem;
  border-radius: 5px;
  font-size: 14px;
}

.ai-feature-tag {
  color: var(--color-purple-braincolor);
}

.sustainability-text {
  font-size: 16px;
  margin: 0.5rem;
}

/*Reservera rum knapp*/

.reserve-button {
  margin-top: auto;
  margin: 1rem 1rem;
  background-color: var(--color-btn-primary);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 1rem 1rem;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

/*--------------------------Responsivitet 1250px-------------------------*/

@media (max-width: 1250px) {
  .rooms-header {
    margin: 1rem;
  }

  .hero-title {
    font-size: 64px;
  }

  .hero-subtitle {
    font-size: 28px;
  }

  .booking-bar {
    padding: 1.5rem;
    margin: 2rem 1rem;
  }

  .booking-form {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .booking-button {
    grid-column: span 2;
    margin-top: 0.5rem;
    justify-self: center;
    padding: 1rem 6rem;
    font-size: 22px;
  }

  .booking-option .label {
    font-size: 18px;
  }

  .room-card {
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .room-image {
    aspect-ratio: 4 / 3.5;
  }
}

/*-------------------------Responsivitet 580px--------------------------*/

@media (max-width: 580px) {
  .hero-title {
    font-size: 42px;
  }

  .hero-subtitle {
    font-size: 20px;
  }

  .booking-bar {
    padding: 1rem;
    border-radius: 16px;
    margin: 1.5rem 1rem;
  }

  .booking-form {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }

  .booking-option {
    padding: 0;
  }

  .booking-option .label {
    font-size: 14px;
    padding: 0.25rem 0;
  }

  .booking-form input,
  .booking-form select {
    padding: 0.75rem;
    font-size: 16px;
  }

  .booking-button {
    width: 60%;
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 18px;
    justify-self: center;
    grid-column: auto;
  }
}
